.ColorBox {
  width: 10em;
  height: 10em;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.aqua {
  background-color: aqua;
}

.burlywood {
  background-color: burlywood;
}

.chartreuse {
  background-color: chartreuse;
}

.darkgoldenrod {
  background-color: darkgoldenrod;
}

.darkgreen {
  background-color: darkgreen;
}

.darkorange {
  background-color: darkorange;
}

.coral {
  background-color: coral;
}

.gold{
  background-color:gold;
}

.cornflowerblue {
  background-color: cornflowerblue;
}

.indianred {
  background-color: indianred;
}

.lime {
  background-color: lime;
}
.firebrick {
  background-color: firebrick;
}

.royalblue {
  background-color: royalblue;
}

.plum {
  background-color: plum;
}
.olive {
  background-color: olive;
}

.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}

.teal {
  background-color: teal;
}


